@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap");

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

@keyframes cyberpunk {
  0% {
    color: #f2994a; /* Initial color */
    text-shadow: none; /* Initial text-shadow */
  }
  50% {
    color: #0ff; /* Midpoint color */
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff; /* Blurry text-shadow */
  }
  100% {
    color: #f2994a; /* Return to original color */
    text-shadow: none; /* Return to no text-shadow */
  }
}

.textAnimation {
  font-size: 3rem;
  max-width: 1280px;
  padding: 3rem;
}

.textAnimationOne {
  width: 70%;
  /* line-height: 11rem; */
}

.WordByWordTextAnimation {
  font-size: 3rem;
  max-width: 1280px;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.word {
  margin-right: 1rem;
  /* margin-top: 1rem; */
  position: relative;
}

.shadow {
  position: absolute;
  opacity: 0.025;
}

/* Mouse move Blob Animation */

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 4vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(2vmax);
}
/* Project Modal CSS */
.modalContainer {
  height: 350px;
  width: 400px;
  position: absolute;
  background-color: white;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalSlider {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal img {
  height: auto;
}

.cursor,
.cursorLabel {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #455ce9;
  color: white;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
  pointer-events: none;
}

.cursorLabel {
  background-color: transparent;
}

/* Projects CSS */
.project {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px 50px 100px;
  border-top: 1px solid rgb(201, 201, 201);
  cursor: pointer;
  transition: all 0.2s;
}
.project:last-of-type {
  border-bottom: 1px solid rgb(201, 201, 201);
}

.project:hover {
  opacity: 0.5;
}

.project:hover h2 {
  transform: translateX(-10px);
}

.project:hover p {
  transform: translateX(10px);
}

.project h2 {
  font-size: 60px;
  margin: 0px;
  font-weight: 400;
  transition: all 0.4s;
}

.project p {
  transition: all 0.4s;
  font-weight: 300;
}

/* SuperMan Hero Section */
.superHeroMain {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Exo 2", sans-serif;
}

.main-slider {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #c54542;
  position: relative;
}

.main-slider .swiper-slide {
  width: 100%;
  height: 100%;
  background: none;
  position: relative;
}

.main-slider .swiper-slide .main-slider-image {
  position: absolute;
  bottom: 0;
  right: 30%;
  height: 85vh;
  object-fit: contain;
}

.text {
  position: absolute;
  left: 20%;
  bottom: 30%;
}

.text h2 {
  font-size: 60px;
  font-weight: 800;
  line-height: 0.9;
  color: #fff;
}

.text p {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.spider {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  bottom: -15%;
  right: -39%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  font-size: 100px;
}

.swiper-button-prev {
  left: 40px;
}

.swiper-button-next {
  right: 40px;
}

.superHeroNav {
  position: absolute;
  width: 100%;
  height: 150px;
  z-index: 10;
  padding: 20px;
  display: flex;
  align-items: center;
  color: #fff;
}

.superHeroNav .logo {
  height: 100px;
  width: 100px;
}

.superHeroNav .logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.superHeroNav .flag img {
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.menu {
  margin: 0 50px;
  font-size: 20px;
}

.flag {
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.superHeroNav button {
  outline: none;
  border: none;
  font-size: 20px;
  color: #fff;
  background: none;
  margin-right: 40px;
}

.container {
  position: relative;
}

.thumbs {
  height: 30%;
  width: 20%;
  position: absolute;
  z-index: 10;
  bottom: 8%;
  right: 20px;
  z-index: 100;
  padding: 20px;
  padding-left: 0;
  border-bottom: 1px solid #000;
}

.thumbs .swiper-slide {
  height: 100%;
  width: 100%;
  position: relative;
  background: #266598;
}

.thumbs .swiper-slide:nth-child(2) {
  background: #832e2c;
}

.thumbs .slider-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.thumbs .number {
  position: absolute;
  font-size: 20px;
  color: #fff;
  top: -20px;
  left: 35%;
  font-size: 30px;
  font-weight: 800;
  z-index: 100;
  opacity: 0.7;
}

.socials {
  position: absolute;
  bottom: 10%;
  z-index: 100;
  left: 20%;
  font-size: 14px;
  display: flex;
  gap: 20px;
}

.socials a {
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  background: #ffffff0f;
}
