@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

@keyframes cyberpunk {
  0% {
    color: #f2994a; /* Initial color */
    text-shadow: none; /* Initial text-shadow */
  }
  50% {
    color: #0ff; /* Midpoint color */
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff; /* Blurry text-shadow */
  }
  100% {
    color: #f2994a; /* Return to original color */
    text-shadow: none; /* Return to no text-shadow */
  }
}

.textAnimation {
  font-size: 3rem;
  max-width: 1280px;
  padding: 3rem;
}

.textAnimationOne {
  width: 70%;
  /* line-height: 11rem; */
}

.WordByWordTextAnimation {
  font-size: 3rem;
  max-width: 1280px;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.word {
  margin-right: 1rem;
  /* margin-top: 1rem; */
  position: relative;
}

.shadow {
  position: absolute;
  opacity: 0.025;
}

/* Mouse move Blob Animation */

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 4vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(2vmax);
}
/* Project Modal CSS */
.modalContainer {
  height: 350px;
  width: 400px;
  position: absolute;
  background-color: white;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalSlider {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal img {
  height: auto;
}

.cursor,
.cursorLabel {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #455ce9;
  color: white;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
  pointer-events: none;
}

.cursorLabel {
  background-color: transparent;
}
