.slide {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide .title {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 8vw;
  margin: 0px 15vw;
  width: 70vw;
}
